server:
  port: 8880
settings:
  #scheduler cron expression ((0 0 12 * * *) every day at 12pm)
  schedule: "0 0 12 * * *"
  ssh:
    # path to private ssh key
    file: ${PATH_TO_SSH_FILE:test}
    passphrase: ${SSH_PASSPHRASE:}

spring:
  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl
    expose-request-attributes: true

  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:1}
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bu}
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: update
    database: postgresql
    show-sql: true